.footer {
    margin-top: auto;
    padding: 50px 0;
    background: url('../img/footer_bg.jpg') center center/cover no-repeat;
    color: $lightblue-color;
    font-weight: 400;
    &__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 60px
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__contacts {
        margin-top: 30px;
    }
    &__accent {
        font-weight: 700;
        font-size: 18px;
    }
    &__link {
        margin-right: 10px;
    }
    .message-link {
        img {
            width: 30px;
        }
    }
}