@media (max-width: 1200px) {
    .price {
        &__items {
            grid-template-columns: 1fr;
        }
        &__item {
            &_accent {
                grid-column: unset;
            }
        }
    }
}
@media (max-width: 992px) {
    .production {
        &__title {
            font-size: 25px;
            &_line1, &_line2, &_line3 {
                &::after {
                    display: none;
                }
            }
        }
        &__text {
            font-size: 16px;
        }
        &__img {
            max-width: 370px;
        }
    }
    .order {
        &__container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
        &__info {
            max-width: 100%;
            border-right: 0;
        padding-right: 0;
        border-bottom: 1px solid $blue-color;;
        padding-bottom: 30px;
        }
        &__consultation {
            max-width: 100%;
            padding-left: 0;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__wrapper {
            position: fixed;
            left: -100%;
            top: 0;
            flex-direction: column;
            height: 100%;
            width: 80%;
            background-color: #f4f4f4;
            justify-content: center;
            align-items: start;
            padding: 0 40px;
            box-shadow: 0px -1px 7px 0px #00000082;
            z-index: 2;
            transition: $transit;
        }
        &__wrapper_open {
            left: 0;
        }
        &__menu {
            margin-bottom: 30px;
            &-list {
                flex-direction: column;
                align-items: start;
                a {
                    font-size: 20px;
                }
            }
        }
        &__contacts {
            flex-direction: column;
            align-items: start;
        }
        .message-link {
            img {
                width: 30px;
            }
        }
        &__mobile-phone {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: 20px;
            border: 1px solid $deepblue-color;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 20px;
            animation: pulsing 2s infinite;
            img {
                width: 20px;
                animation: zag 2s infinite;
	            animation-delay: 1s;
            }
        }
    }
    .promo {
        .container {
            background: url(../img/main_bg2.png) 100px bottom/auto no-repeat;
        }
    }
    .numbers {
        &__item {
            &:nth-child(2) {
                border-right: 0;
            }
        }
    }
    .production {
        &__wrapper {
            gap: 0;
        }
        &__img {
            max-width: 320px;
        }
    }
    .price {
        background: url(../img/price_bg.svg) center center / cover no-repeat;
        &__wrapper {
            padding: 20px;
        }
    }
    .order-form {
        grid-template-columns: 1fr;
    }
    .recomend {
        &__container {
            flex-wrap: wrap;
            gap: 30px;
        }
        img {
            order: 1;
        }
        &__info {
            padding-top: 100px;
            max-width: 100%;
            text-align: center;
        }
    }
    .footer {
        text-align: center;
        &__wrapper {
            grid-template-columns: 1fr;
            justify-items: center
        }
        &__info {
            max-width: 80%;
            text-align: center;
            order: 1;
        }
    }
}
@media (max-width: 576px) {
    :root {
        --padding-big: 70px 0;
    }
    .promo {
        background: url(../img/main_bg.png) center bottom/cover no-repeat;
        .container {
            background: url(../img/main_bg2.png) center bottom/auto no-repeat;
        }
        &__title {
            font-size: 27px;
            text-align: center;
        }
        &__subtitle {
            font-size: 25px;
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
    .numbers {
        &__item {
            &:nth-child(2) {
                border-left: 0;
            }
        }
    }
    .production {
        &__block {
            height: 270px;
            top: 60px;
            transform: translateY(0);
            width: 90%;
        }
        &__img {
            max-width: 250px;
        }
        &__wrapper {
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    .price {
        &__item {
            padding: 15px;
            flex-wrap: wrap;
            gap: 20px;
            &_accent {
                .button {
                    width: 205px;
                }
            }
        }
        &__descr {
            margin-bottom: 20px;
        }
    }
    .steps {
        &__item {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        &__name {
            justify-content: center;
        }
        &__descr {
            text-align: center;
        }
    }
    .order {
        &__list {
            padding-left: 30px;
        }
        &__manager {
            &-photo {
                display: none;
            }
            &-message {
                margin-left: 0;
                text-align: center;
                &::before {
                    display: none;
                }
            }
            &-descr {
                text-align: center;
            }
        } 
    }
    .order-header {
        &__title {
            font-size: 16px;
        }
    }
    .recomend {
        img {
            max-width: 100%;
        }
    }
    .footer {
        &__info {
            max-width: 100%;
        }
    }
    .overlay {
        &__wrapper {
            padding: 20px;
        }
    }
}