.mobile-btn {
    display: none;
}

@media (max-width: 768px) {
    .mobile-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 32px;
        height: 30px;
        padding: 0;
        z-index: 50;
        border: none;
        background-color: transparent;
        &__icon {
            width: 80%;
            height: 3px;
            background-color: $deepblue-color;
            position: relative;
            &::after, &::before {
                @include pseudo;
                right: 0;
                width: 30px;
                height: 3px;
                background-color: $deepblue-color;
                transition: $transit;
            }
            &::after {
                top: -8px;
            }
            &::before {
                top: 8px;
            }
        }
        &_open {
            .mobile-btn__icon {
                background-color: transparent;
                &::before {
                    transform: rotate(45deg);
                    top: 0;
                }
                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }
}